.handlebox {
  display: flex;
}

.content {
  flex-grow: 1; /* 让内容区域占据剩余的空间 */
}

.handle {
  width: 6px; /* 改为更宽的宽度 */
  height: 100vh;
  background-color: #e8e8e8;
  cursor: ew-resize;
  transform: translateX(0)  /* transition: background-color 0.3s; */
}

.handle:hover {
  background-color: #a6a6a6; /* 滑过时的高亮颜色 */
}
