.talkbox {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
.contentBox {
  font-size: 1rem;
  line-height: 1.5rem;
}

.itemBox {
  color: #d9d9d9;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.message {
  margin-left: 10px;
}
