.ant-tree-node-content-wrapper {
  padding: 0!important;
}
.ant-tree-switcher {
  width: 10px!important;

}

.rootTree {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-tree-node-content-wrapper {
  display: flex;
}

.ant-tree-title {
  width: 100%;
}
