/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  height: 100vh;
  margin: 0;
  /* padding: 20px; */
  /* font-family: 'Roboto', sans-serif; */
}

.openfbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(52, 53, 65);
}

.monaco-container {
  height: 100%; /* 或者设置一个具体的高度 */
  overflow: hidden; /* 或者根据需要使用其他的 overflow 属性 */
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
